/* Parent Container */
.wrapper {
    width: auto;
    max-width: 350px;
}

/* END Parent Container */

/* Image Related */
.imageWrapper {
    width: 100%;
    height: 100%;
    margin-bottom: 1rem;
}

.image {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

/* END Image Related */

/* Content Related */
.contentWrapper {
    margin-bottom: 1.3rem;
}

.meta {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.heading {
    margin-bottom: 1.3rem;
}

/* END Content Related */